@use '../mixins/pseudo.scss' as *;
@use '../mixins/responsive.scss' as *;

.main {
  position: relative;
  min-height: 100vh;
  padding-top: 64px;
  overflow-x: hidden;
  &::after,
  &::before {
    @include pseudo(510px, 1018px);
    top: -609px;
    left: -322px;
    background-image: var(--gradient-capsule);
    border-radius: 15.9375rem;
    z-index: -1;
  }

  &::before {
    top: 427px;
    left: 188px;
    opacity: 0.03;
  }

  @include responsive(desktop) {
    &::after,
    &::before {
      top: -390px;
      left: -218px;
    }
  }
}
