@use '../mixins/pseudo.scss' as *;

.mobile {
  width: 247px;
  height: 480px;
  margin-inline: auto;
  margin-bottom: 64px;
  border: 11px solid white;
  border-radius: 30px;
  background-color: var(--mobile-background);

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    height: 66px;
    gap: 0.5rem;
    padding-inline: 16px;
    padding-top: 20px;
    background-image: var(--gradient-capsule);
    border-radius: 20px 20px 6px 6px;

    &::after {
      @include pseudo(129px, 29px) {
        background-color: #fff;
        top: -11px;
        left: 50%;
        translate: -50%;
        border-radius: 0 0 14px 14px;
      }
    }
  }

  &__messages {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 8px;
  }

  &__message {
    width: fit-content;
    max-width: 60%;
    margin-block: 0;
    padding: 6px 9px;
    border-radius: 10px 10px 4px 10px;
    color: var(--message-color);
    background-color: var(--message-bg);
    font-size: 0.5rem;

    &--container {
      display: flex;
      gap: 8px;
      & > * {
        width: 40px;
        border-radius: 10px;
      }
    }

    &--right {
      margin-left: auto;
    }

    &--right:not(&--container) {
      background-color: #fff;
    }

    &--circle {
      background-color: rgba(255, 255, 255, 0);
      padding: 4px;
      border-radius: 50%;
      border: 1px solid #e472ff;
    }

    &--price {
      display: flex;
      gap: 8px;
      align-items: center;
      width: fit-content;
      width: 160px;
      margin-block: 0;
      padding-inline: 9px;
      border-radius: 10px 10px 4px 10px;
      color: #ffffff;
      background-image: var(--gradient-capsule);
      font-size: 0.5rem;
    }

    &--last {
      margin-bottom: 8px;
    }
  }

  &__price {
    display: flex;
    margin-left: auto;
    font-size: 0.75rem;
  }

  &__type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    width: 213px;
    height: 33.91px;
    background-color: #ffffff;
    border-radius: 16.95px;

    &--message {
      color: #c5c9cc;
      font-size: 0.5625rem;
      letter-spacing: -0.07px;
    }
  }

  &__send {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24.27px;
    height: 24.22px;
    background-color: #3e2753;
    border-radius: 50%;
  }
}
