:root {
  /* Variables CSS */
  --bg-color: #fafafa;
  --gradient-capsule: linear-gradient(255deg, #e844ff, #8739ff);
  --mobile-background: #f5f5f7;
  --message-color: #9341c8;
  --message-bg: #eee5f4;
}

/* Variables SASS */
